// Place all the styles related to the squareformat layout here
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Responsive layout currently works mobile-first
// Mobile and tablet styling relies of flexbox to re-order components differently than the order the exist in the DOM
// Desktop styling removes flexbox and instead relies on the order of components in the DOM

@import "variables";
$rightColWidth: 50%;

.work.squareformat {
  margin: 57px 10px auto;
  padding: 0 20px;

  .work-section {
    align-self: flex-start;
    margin: 0 auto 10px;
    // margin-bottom: 10px;
    // padding: 0;
    position: relative;
    width: 100%;
  }

  .work-image-container {
    order: 2;
    margin-top: 10px;
    padding: 0;
  }
  .work-header-container {
    border-bottom: solid black 2px;
    font-size: 2rem;
    letter-spacing: 1px;
    order: 1;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
  }
  .work-cta-container {
    order: 4;
  }
  .work-description-container {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.5em;
    order: 5;
  }
  .work-tracklist-container {
    order: 6;
  }
  .work-details-container {
    border-bottom: solid black 2px;
    border-top: solid black 2px;
    clear: both;
    margin: 20px auto;
    order: 3;
    text-align: center;
  }

  .work-content-nav {
    background: transparent; // temp?
    order: 7;
  }

  .work-credits-container {
    order: 8;
  }

  .work-header {
    color: $grey
  }
  .work-header-divider {
    margin: auto 10px;
  }

  .lede-image {
    margin: 0 auto;
    // max-width: 600px;
    width: 100%;
  }

  .work-image-background {
    background-size: cover;
    background-position: center;
    filter: blur(30px);
    height: 100%;
    margin-left: calc(-10px + -14vw);
    opacity: 0.4;
    position: absolute;
    width: 120vw;
    z-index: -1;
  }

  // tablet viewport widths and up
  @media screen and (min-width: 600px) {
    // margin: 10px 10px auto;

    .lede-image {
      // max-width: 600px;
    }
    .work-details {
      display: flex;
    }
    .work-details-sm {
      display: none;
    }
    .work-cta-container {
      width: 40%;
    }
  }

  // desktop viewport widths and up
  @media screen and (min-width: 1024px) {
    display: block;

    .work-description-container {
      margin: auto;
      width: 80%;
    }

    .work-image-container
    // .work-description-container
     {
      float: left;
      // margin-left: 4vw;
      margin-right: 1vw;
      // width: calc(100% - #{$rightColWidth} - 6%);
      width: 44.5vw;
    }
    // .work-header-container,
    .work-tracklist-container {
    // .work-details-container {
      float: right;
      margin-left: 1vw;
      // margin-right: 4%;
      // width: calc(#{$rightColWidth} - 6%);
      width: 44.5vw;
      height: 44.5vw;
      // height: calc(100% - #{$rightColWidth} - 6%);
      overflow-y: scroll;
    }
    .work-description-container {
      clear: both;
      float: none;
      // margin-left: 4%;
      width: 60%;
    }
    .work-details-container {
      // margin-left: 4%;
    }

    .work-header-container {
      // margin-left: 4%;
      text-align: left;

      .work-header-artist {
        font-size: 1.1em;
        font-weight: 200;
        height: 1em;
        margin-bottom: 5px;
        a {
          color: $light-grey;
        }
      }

      .work-header-title {
        font-size: 1.8em;
        font-weight: 400;
        height: 1.0em;
      }
    }

    .work-image-container {
      margin-top: 0;
    }

  }
}
