// Place all the styles related to the squareformat layout here
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Responsive layout currently works mobile-first
// Mobile and tablet styling relies of flexbox to re-order components differently than the order the exist in the DOM

@import "variables";
$rightColWidth: 50%;

.work.two-column {
  justify-content: space-between;
  margin: $navbar-height auto;
  position: relative;
  width: 90%;
  // max-width: 1024px;
  max-width: 1200px;

  .work-column.primary {
    // max-width: 80vh;
    width: 57.5%;
  }

  .work-column.secondary {
    // max-width: 360px;
    width: 40%;
  }

  .work-header-cta-container {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;

    & > div {
      padding-bottom: 5px;
    }
  }

  .work-header-container {
    margin-top: 20px;
    position: relative;
  }

  .work-image-container {
    .lede-image {
      height: auto;
      margin: auto;
      max-height: 60vh;
      max-width: 60vh;
      width: 100%;
    }
  }

  .work-image-background {
    // background-size: cover;
    filter: blur(100px);
    opacity: 0.5;
  }

  .work-section-header {
    border-bottom: solid black 2px;
    margin-top: 40px;
  }
}
