// Place all the styles related to the squareformat layout here
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Responsive layout currently works mobile-first
// Mobile and tablet styling relies of flexbox to re-order components differently than the order the exist in the DOM

@import "variables";

.work.two-column {
  justify-content: space-between;
  margin: $navbar-height auto;
  position: relative;
  width: 100%;

  .work-column.primary {
    width: 100%;
  }

  .work-header-cta-container {
    & > div {
      padding-bottom: 5px;
    }

    @media screen and (min-width: $large) {
      position: absolute;
      top: 0;
      right: 0;
      text-align: right;
    }
  }

  .work-header-container {
    margin-top: 20px;
    position: relative;

    header {
      margin-bottom: 20px;
      text-align: center;
    }
  }

  .work-image-container {
    margin: auto;
    max-height: 60vh;
    overflow: hidden;
    width: 100%;
  }

  .work-section-header {
    border-bottom: solid black 1px;
    margin-top: 40px;
  }

  @media screen and (min-width: $large) {
    .work-column.primary {
      width: 57.5%;
    }

    .work-column.secondary {
      width: 40%;
    }

    .work-header-container {
      header {
        margin-bottom: 0;
        text-align: left;
      }
    }
  }
}
