// Place all the styles related to the squareformat works layout here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.work.wideformat {
  .work-header-container {
    margin-top: -50px;

    h2 {
      line-height: 1.7em;
      letter-spacing: 0.2em;
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      a {
        background-color: white;
        padding: 10px;
      }
    }

    h3 {
      letter-spacing: 0.3em;
      margin: 10px auto 15px;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }
  }

  .work-section {
    padding: 10px;
  }

  .work-image {
    height: 60vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .work-tracklist-container {
    flex-grow: 1;
    width: 100%;
  }
  .work-description-container {
    flex-grow: 1;
    width: 100%;
  }

  @media screen and (min-width: 768.1px) {
    .work-tracklist-container {
      width: 40%;
    }
    // .work-description-container {
    //   width: 40%;
    // }
  }
}
