@import "../variables";

.work.wideformat {
  justify-content: space-between;

  .work-header-container {
    margin-top: -24px;
    z-index: 0;

    .work-header-artist {
      font-size: 1.4em;
      line-height: 1.7em;
      letter-spacing: 0.2em;
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      a {
        background-color: white;
        padding: 10px;
      }
    }

    .work-header-title {
      font-size: 1.5em;
      letter-spacing: 0.2em;
      margin: 10px auto 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;

      span {
        background-color: white;
        padding: 10px;
      }
    }

    .work-header-cta-container {
      flex-direction: row;
    }
  }

  .work-section {
    // padding: 10px 10px;
  }


  .work-tracklist-container {
    flex-grow: 1;
    width: 100%;
  }
  .work-description-container {
    flex-grow: 1;
    width: 100%;
  }

  .work-details-container {
    margin: 20px 0;
  }

  .work-tracklist-container,
  .work-content-container {
    // max-width: 47.5%;
  }

  @media screen and (min-width: 1024px) {
    // .work-tracklist-container {
    //   width: 40%;
    // }
    .work-column.primary {
      // max-width: 80vh;
      width: 57.5%;
    }

    .work-column.secondary {
      // max-width: 360px;
      width: 40%;
    }

  }
}
