<p id="notice"><%= notice %></p>

<section class="artists-container">
  <h4>Artists</h4>

  <ul>
    <% @artists.each do |artist| %>
      <li>
        <a href="<%= artist_path(artist) %>"><%= artist.fullname %></a>
      </li>
    <% end %>
  </ul>

</section>
