<!-- prerender needs to be true because pjax keeps componentDidMount from firing -->
<div class="checkout-container">
  <%= react_component('ShoppingCart', {items: @items}, {tag: 'div', class: 'shopping-cart-container', prerender: true}) %>
</div>
