<div class="work-cta-container work-section">
  <button class="add-work-to-player work-cta-item">
    <div class="cta-content">
      <span>Play</span>
      <span class="button-primary fa fa-play"></span>
    </div>
  </button>
  <button class="add-work-to-cart work-cta-item">
    <div class="cta-content">
      <span>Purchase ($<%= (@work.price_formatted) %>)</span>
      <span class="button-primary fa fa-cart-plus"></span>
    </div>
  </button>
</div>
