<div class="work-cta-container work-section">
  <div class="add-work-to-player work-header-cta-item">
    <div class="cta-item">
      <span>Play</span>
      <button class="button-primary fa fa-play"></button>
    </div>
  </div>
  <div class="add-work-to-cart work-header-cta-item">
    <div class="cta-item">
      <span>Purchase ($<%= (@work.price_formatted) %>)</span>
      <button class="button-primary fa fa-cart-plus"></button>
    </div>
  </div>
</div>
