<div class="work-cta-container work-section">
  <div class="work-header-cta-item work-tracklist-play-all">
    <div class="cta-item">
      <span>Play</span>
      <button class="add-work-to-player-btn button-primary fa fa-play"></button>
    </div>
  </div>
  <div class="work-header-cta-item work-tracklist-purchase-all">
    <div class="cta-item">
      <span>Purchase ($<%= (@work.price_formatted) %>)</span>
      <button class="add-work-to-cart-btn button-primary fa fa-cart-plus"></button>
    </div>
  </div>
</div>
