<section class="work-description-container work-section">
  <h5 class="work-section-header">Liner Notes</h5>
  <article class="work-description">
    <%= raw @work.description %>
  </article>
</section>
