<section class="work-header-container work-section">
  <header class="work-section-header">
    <h2 class="work-header-artist"><%= link_to @artist.fullname, @artist %> </h2>
    <h3 class="work-header-title"> <%= @work.title %> </h3>
  </header>

  <% if embed === "ctas" %>
    <%= render partial: "works/components/ctas", locals: {work: @work} %>
  <% elsif embed === "details" %>
    <%= render partial: "works/components/details", locals: {work: @work, small: false} %>
  <% end %>

</section>
