// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artists-container {
  margin: 60px auto;
  width: 100%;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li {
    flex-grow: 1;
    font-size: 1.2em;
    padding: 5px;
    width: 33.3%;
  }
}

.artist-container {
  margin: 60px auto;
  width: 100%;

  .artist-profile {

    &-header {
      font-size: 2em;
    }
  }
  .artist-bio {
    margin: auto;
    // width: 90%;
  }

  .artist-works {
    margin-top: 20px;

    &-header {
      border-bottom: solid black 1px;
      font-size: 1.5em;
    }
  }

  .works-container {
    margin-top: 0;
  }
}
