.audio-player {
  background-color: white;
  border-top: solid black 2px;
  bottom: 0;
  height: 180px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 5;

  .audio-player-close-btn {
    position: absolute;
    right: 0;
    top: 0;
  }

  svg {
    circle {
      stroke: "black";
      stroke-width: 3;
      fill: "red";
    }

    line {
      stroke: rgb(255,0,0);
      stroke-width: 2;
    }
  }
}
.audio-player[aria-hidden="true"] {
  display: none;
}
