@import "variables";

.audio-player {
  background-color: white;
  border-top: solid black 2px;
  bottom: 0;
  height: $audioPlayerHeight;
  // max-width: $max-width;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 5;

  button {
    margin: 5px;
  }

  .audio-player-close-btn {
    position: absolute;
    right: 0;
    top: 0;
  }

  svg {
    width: 100%;
    height: 10px;
    circle {
      stroke: "black";
      stroke-width: 3;
      fill: "red";
    }

    line {
      stroke: $grey2;
      stroke-width: 2;
    }
    .progress-bar {
      stroke: red;
    }

  }
  .audio-player-info {
    .audio-player-info-title {
      margin-left: 5px;

      @media screen and (min-width: 600px) {
        margin-left: 0;
        display: block;
      }
    }

    @media screen and (min-width: 600px) {
      position: absolute;
      margin: 20px;
      text-align: left;
    }
  }
  .audio-player-nav-buttons {

    @media screen and (min-width: 600px) {
      position: absolute;
      left: 0;
      right: 0;
      top: 50px;
    }
  }
  .audio-player-progress-bar {
    margin: auto;
    width: 70%;

    @media screen and (min-width: 600px) {
      position: absolute;
      left: 0;
      width: 400px;
      right: 0;
      top: 20px;
    }
  }
  .audio-player-time-display {
    @media screen and (min-width: 600px) {
      position: absolute;
      left: 510px;
      margin: auto;
      right: 0;
      top: 20px
    }
  }

  @media screen and (min-width: $max-width) {
    // left: calc((100% - #{$max-width}) / 2);
  }
}
.audio-player[aria-hidden="true"] {
  display: none;
}
