@import "variables";

.cart-container {
  background-color: white;
  border: solid black 2px;
  bottom: 0;
  box-sizing: border-box;
  height: calc(100vh - #{$navbar-height});
  left: 0;
  margin: 0 auto;
  overflow: scroll;
  position: absolute;
  right: 0;
  top: $navbar-height;
  width: 100%;
  z-index: 10;

  .cart {
    h2 {
      text-align: center;
      border-bottom: solid black 2px;
      width: 45%;
      margin: 40px auto;
      padding-bottom: 10px;
    }

    form#checkout {
      width: 400px;
      max-width: 75%;
      margin: 180px auto;
      border: solid black 6px;
      padding: 20px;
      box-shadow: 12px 12px black;
    }

    table {
      margin: auto;
      border-bottom: solid black 2px;
      width: 100%;

      td {
        padding: 8px 10px;
      }

      td:nth-child(1) {
        padding-right: 4px;
      }

      th {
        text-align: left;
      }
    }

    #checkout-total {
      right: 7.5vw;
      position: absolute;
    }
  }

  .cart-close-btn {
    position: absolute;
    right: 0;
    top: 0;
  }

  @media (min-width: 1024px) {
    height: 500px;
    margin-right: 0; 
    width: 500px;
  }
}
