@import "variables";

body, nav {
  background-color: #fff;
  color: #333;
  font-family: "nimbus-sans",'Open Sans',sans-serif;
  font-size: 100%;
  line-height: 18px;
}

body {
  margin: 0;
}

input {
  background: transparent;
  border: none;
}

#main {
  margin: 30px 0 10px;
}

p, ol, ul, td {
  // font-family: 'Open Sans', sans-serif;
  // font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
    // background-color: #000;
    // color: #fff;
    text-decoration: underline
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.hidden {
  display: none;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#audio-player-buffer {
  height: $audioPlayerHeight;
}
#audio-player-buffer[aria-hidden="true"] {
  display: none;
}
