@import "variables";

nav.navbar {
  background-color: #333;
  height: $navbar-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  form {
    display: inline;
  }

  .navbar-link {
  	color: #eee;
    letter-spacing: 0.1em;
    position: relative;
    font-size: 1em;
    font-weight: 300;
    margin-left: 30px;
    top: 10px;
  }
}
