nav.navbar {
  border-bottom: solid black 2px;
  position: fixed;
  height: auto;
  top: 0;
  width: 100%;

  form {
    display: inline;
  }

  .navbar-link {
    letter-spacing: 5px;
    line-height: 100%;
    position: relative;
    font-size: 1.7em;
    font-weight: 500;
    margin: 10px;
  }
}
