// Place all the styles related to the pieces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.piece {
  // display: flex;
  flex-wrap: wrap;
  // min-width: 400px;
  // position: relative;

  tr {
    width: 100%;
  }
  td {
    padding: 5px 5px;
  }

  .piece-duration {
    text-align: right;
  }
  .piece-play {
    width: 10px;
  }
  .piece-purchase {
    min-width: 150px;
    text-align: right;
    width: 10%;
  }
  .piece-title {
    min-width: 150px;
    width: 60%;
  }

  .piece-ctas-container {
    min-width: 190px;
    text-align: right;
    a:nth-child(1) {
      margin-right: 10px;
    }
    // float: right;
    // margin-left: 10px;
    // position: absolute;
  }


}

.toggle-piece-description-btn[aria-hidden="true"] { display: none }
.piece-description[aria-hidden="true"] { display: none; }
