@import "variables";

.shopping-cart-modal {
  background-color: white;
  border: solid black 2px;
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  overflow: scroll;
  padding: 10px;
  position: fixed;
  right: 0;
  top: $navbar-height;
  width: 100%;
  z-index: 10;

  .go-to-checkout {
    display: block;
    margin-top: 50px;
  }

  .close-cart {
    position: absolute;
    right: 0;
    top: 0;
  }

  // overwrite styles defined in shopping-cart.scss
  .shopping-cart {

    .shopping-cart-checkout {
      display: none;
    }

  }

  @media screen and (min-width: 600px) {
    height: auto;
    max-width: 500px;
    width: 350px;
  }
}
