@import "variables";

.shopping-cart-modal {
  background-color: white;
  border: solid black 2px;
  bottom: 0;
  box-sizing: border-box;
  height: 500px;
  // height: calc(100vh - #{$navbar-height});
  margin: 0 auto;
  max-width: 500px;
  overflow: scroll;
  padding: 10px;
  position: absolute;
  right: 0;
  width: 350px;
  top: $navbar-height;
  z-index: 10;

  .go-to-checkout {
    display: block;
    margin-top: 50px;
  }

  .close-cart {
    position: absolute;
    right: 0;
    top: 0;
  }

  // overwrite styles defined in shopping-cart.scss
  .shopping-cart {

    .shopping-cart-checkout {
      display: none;
    }

  }
}
