@import 'variables';

.work-tracklist {
  border: 1px solid #eee;
  box-sizing: border-box;
  font-size: 0.8em;
  padding: 0px 0px 0px 0px;
  width: 100%;

  .work-tracklist-header > span {
    margin: auto;
    padding: 10px;
    text-align: center;
    position: absolute;
  }

  .work-tracklist-header {
	  height:45px;
	background-color:#c6c6c6;
    position: relative;

    .work-tracklist-purchase-all {
      right: 0;
    }
    .work-tracklist-total-duration {
      right: 175px;
    }
  }
  .work-tracklist-program-runtime {
    border-bottom: solid #666 2px;
    font-size: 1.5rem;
    text-align: center;
  }

  .piece {
    border-bottom: solid #eeeeee 1px;
	padding:0px;
    display: flex;
    flex-wrap: wrap;
	

    .piece-column {
      margin: auto;
      padding: 3px;
    }

    .piece-duration {
      text-align: right;
      width: 50px;
	  color:#888;
    }
	
    .piece-duration-inline {
	  color:#bbb;
    }
	
	
    .piece-play {
      width: 40px;
	  padding-left:5px;
    }
    .piece-purchase {
      text-align: right;
      width: 150px;
      .add-piece-to-cart-btn-sm { display: none }
    }
    .piece-title {
      flex-grow: 1;
      font-size: 1em;
      width: 10%;
	  line-height:1em;
    }

    .piece-ctas-container {
      min-width: 190px;
      text-align: right;
      a:nth-child(1) {
        margin-right: 10px;
      }
    }
  }
  
.piece:hover{
	background-color:#eee;
	cursor:pointer;
	.piece-title{
		font-weight:normal;
	}
}

  .toggle-piece-description-btn[aria-hidden="true"] { display: none }
  .piece-description[aria-hidden="true"] { display: none; }
}

// sm class added dynamically in main.js
.work-tracklist.sm {
  .piece-title {
    // margin-left: 10px;
    order: 1;
    width: 30%;
  }
  .piece-duration {
    margin-right: 10px;
    order: 2;
  }
  .piece-play {
    order: 0;
    // width: 30%; // not very precise, tweaking to force line break
    width: auto;
  }
  .piece-purchase {
    order: 3;
    width: auto;
    .add-piece-to-cart-btn { display: none }
    .add-piece-to-cart-btn-sm { display: block }
  }
}
