$audioPlayerHeight: 110px;
$background-color: #fafafa;
$light-grey: #666;
$navbar-height: 34px;
$grey: #333;
$grey2: #414141;
$max-width: 1200px;
$main-width: 95%;
$lede-image-height: 60vh;
$large: 768px;
