// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// works index page
.works-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 60px auto;

  .work-item {
    margin: 0 auto 20px;
    width: 40%;

    h3 {
      margin-top: 0;
    }

    h4 {
      margin-top: 0;
    }

    img {
      width: 100%;
      max-width: 600px;
    }
  }
}

// work show page
.work {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;


  .work-section {
    box-sizing: border-box;
    margin: 20px 0;
    padding: 10px;
  }

  h2 {
    font-size: 1.6em;
    margin-top: 0;
  }
  h3 {
    font-size: 1.4em;
    margin-top: 0
  }

  .work-header {
    font-size: 1.0em;
    margin-bottom: 5px;
  }
  .work-header-title {
    margin: 0;
  }

  // .work-buttons {
  //   margin: 15px;
  //   text-align: center;
  //
  //   a {
  //     display: inline-block;
  //     width: 100px;
  //   }
  // }


  .work-description {
    letter-spacing: 0.1em;
    line-height: 1.5em;
  }

  .work-release-details {
    padding: 0;

    li {
      line-height: 1.5em;
    }
  }
}

// tablet (600px - 1024px)
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .work {

  }
}

// desktop (1024px +)
@media screen and (min-width: 1024px) {
  .work {
    // display: block;
  }
}
