// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

// works index page
.works-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 60px auto;

  .work-item {
    margin: 0 auto 20px;
    width: 40%;

    h3 {
      margin-top: 0;
    }

    h4 {
      margin-top: 0;
    }

    img {
      width: 100%;
      max-width: 600px;
    }
  }
}

// work show page
.work {
  display: flex;
  flex-wrap: wrap;

  .work-section {
    box-sizing: border-box;
    margin: 10px 0 0;
    width: 100%;
  }
  //
  // h2 {
  //   font-size: 1.6em;
  //   margin-top: 0;
  // }
  // h3 {
  //   font-size: 1.4em;
  //   margin-top: 0
  // }

  .work-header-container {
    text-align: left;

    .work-header {
      // font-size: 1.0em;
      margin-bottom: 5px;
    }

    .work-header-artist {
      font-size: 1.6em;
      font-weight: 200;
      height: 1em;
      margin-bottom: 5px;
      a {
        color: $light-grey;
      }
    }

    .work-header-title {
      font-size: 1.8em;
      font-weight: 400;
      height: 1.0em;
      margin: 0;
    }
  }

  .work-header-cta-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .work-description,
  .work-credits {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5em;
  }

  .work-content-container {
    flex-grow: 1;
    width: 40%;
  }

  .work-content-nav {
    clear: both;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 50px;
    text-align: center;

    span {
      cursor: pointer;
      flex-grow: 1;
    }

    span.active {
      border-bottom: solid black 2px;
    }
  }

  .work-details-container {
    // border-bottom: solid black 2px;
    border-top: solid black 2px;
    clear: both;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 20px;
  }

  .work-image-container {
    padding: 20px 0;
    position: relative;
  }

  .work-image-background-wrapper {
    box-sizing: border-box;
    // display: none;
    // border: solid black 2px;
    height: 100%;
    // margin-top: -20px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;

    // rough estimate to get background image to fill space
    // margin-left: -10vw;
    // width: calc(100vw - 60px);
    // width: 120vw;

    .work-image-background {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      filter: blur(20px);
      height: 100%;
      opacity: 0.8;
      position: absolute;
      width: 100%;
      z-index: -1;
    }
  }
}

// tablet (600px - 1024px)
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .work {
  }
}

// desktop (1024px +)
@media screen and (min-width: 1024px) {
  .work {
  }
}
