// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

// works index page
.works-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px auto;
  width: 100%;

  .work-item {
    width: 100%;

    &-title {
      font-size: 1.1em;
    }

    img {
      width: 100%;
    }

    @media screen and (min-width: 600px) {
      max-width: 360px;
      width: 40%;
    }
  }
}

// work show page
.work {
  display: flex;
  flex-wrap: wrap;

  .work-section {
    box-sizing: border-box;
    margin: 0 0 40px;
    width: 100%;
  }

  .work-section-header {
    font-size: 1.3em;
  }

  .work-description,
  .work-credits {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5em;
  }
}

// tablet (600px - 1024px)
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .work {
  }
}

// desktop (1024px +)
@media screen and (min-width: 1024px) {
  .work {
  }
}
