.work-details {
  display: none;

  .work-detail {
    border: solid black 0px;
    font-size: 1.2rem;
    margin: 1px;
    text-align: left;
  }
  // .work-detail:nth-last-child(1) {
  //   border-left: none;
  // }
  .work-detail-label {
    border-right: solid black 0px;
    display: inline-block;
    font-weight: 600;
    padding: 3px 5px 3px 0;
  }
  .work-detail-data {
    margin-right: 15px;
    // padding-left: 10px;
  }

  @media screen and (min-width: 600px) {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;

    .work-details {
      flex-grow: 1;
    }
  }
}

.work-details-sm {
  display: block;
  font-size: 0.9em;
  font-style: italic;

  @media screen and (min-width: 600px) {
    display: none;
  }
}
