@import "variables";

.work .work-cta-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 10px;
  border-bottom: solid black 1px;
  padding-bottom: 25px;
  position: relative;

  button {
    font-size: 1.5em;
    // height: 40px;
  }

  button, span {
    margin: auto;
  }

  .cta-item {
    height: 30px;
    margin-top: 8px;

    span {
      height: 100%;
      padding-top: 3px;
      display: inline-block;
      vertical-align: middle;
    }

    button {
      height: 100%;
    }

    // * {
    //   margin: auto;
    // }
  }

  .work-header-cta-item {
    background-color: #333;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    flex-basis: 40%;
    // flex-grow: 1;
    height: 45px;
    margin: auto;
    padding: 0 10px;
    text-align: center;
  }

  @media screen and (min-width: $large) {
    // flex-direction: column;
  }
}
