@import 'variables';

.work-details-container {
  border-top: solid black 1px;
  clear: both;
  text-align: center;
  margin: 10px 0;

  .work-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .work-details {
      flex-grow: 1;
    }

    .work-detail {
      border: solid black 0px;
      font-size: 1.3rem;
      text-align: left;
    }

    .work-detail-label {
      border-right: solid black 0px;
      display: inline-block;
      font-weight: 600;
      padding: 3px 5px 3px 0;
    }

  }
}
