@import "variables";

.work .work-header-container {
  position: relative;
  text-align: left;

  // .work-header {
  //   margin-bottom: 5px;
  // }

  .work-header-artist {
    font-size: 1.4em;
    font-weight: 200;
    height: 1em;
    margin-bottom: 5px;

    a {
      color: $light-grey;
    }
  }

  .work-header-title {
    font-size: 1.6em;
    font-weight: 400;
    height: 1.0em;
    margin: 0;
  }

  .work-section {
    &.work-cta-container {
      border-bottom: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-start;
      position: absolute;
      right: 0;
      top: 0;

      .work-cta-item {
        height: 28px;
        margin-right: 0;
        margin-top: 6px;
        padding-bottom: 28px;
      }

      .cta-content {
        height: 100%;

        * {
          font-size: 12px;
        }
      }
    }

    &.work-details-container {
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: auto;

      .work-section-header {
        display: none;
      }
      .work-detail-label {
        display: inline;
      }
      .work-details {
        flex-direction: column;
        float: right;
      }
    }
  }

}
