@import "../../variables";

.work .work-image-container {
  position: relative;
  // height: 420px;
  height: auto;
  // height: 50vw;
  max-height: 60vh;
  margin-left: calc((100% - 100vw) / 2);
  margin-top: 0;
  width: 100vw;

  .work-image-carousel {
    overflow: hidden;
    height: 100%;
    position: absolute;
    width: 100vw;

    .work-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      transition: transform 0.75s;
      width: 100%;
    }

    .work-image.active {
      opacity: 1;
    }

    .work-image-carousel-button {
      background: none;
      bottom: 0;
      font-size: 30px;
      position: absolute;
      margin: auto;
      top: 0;
      z-index: 1;
    }

    .work-image-carousel-left {
      left: 0;
    }

    .work-image-carousel-right {
      right: 0;
    }
  }

  .work-images {
    filter: blur(100px);
    opacity: 0.5;
  }

  .lede-image {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;

    img {
      bottom: 0;
      display: block;
      height: auto;
      width: 100%;
      // max-width: 400px;
      // height: 100%;
      left: 0;
      // max-height: 400px;
      margin: auto;
      position: relative;
      // position: absolute;
      right: 0;
      top: 0;
      // width: auto;
    }
  }

  &.cover {
    .lede-image {
      visibility: hidden;
      // display: none;
    }
    .work-images {
      filter: none;
      opacity: 1;
    }
  }

  &.fill-lede {
    .lede-image img {
      max-height: 100%;
      // max-width: 400px;
    }
  }

  @media screen and (min-width: 600px) {
    height: 50vw;
    // height: 420px;
    min-height: 460px;
    // height: $lede-image-height;

    .lede-image img {
      max-width: 400px;
      position: absolute;
      // max-width: 400px;
    }

    &.cover .lede-image{
      display: none;
    }

  }
}
