@import 'variables';

.work-tracklist-container {
  background-color: white;
  border: 1px solid black;
  overflow: hidden;
  position: relative;

  .work-section-header {
    display: none;
  }

  .work-tracklist {
    box-sizing: border-box;
    font-size: 0.8em;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
    width: 100%;


    .piece {
      border-bottom: solid #eeeeee 1px;
      cursor:pointer;
      display: flex;
      flex-wrap: wrap;
      height: auto;
      // padding:0px;
      padding: 5px 0;

      .add-piece-to-player-btn {
        opacity: 0;
        transition: opacity 0.25s;
      }

      .piece-column {
        // height: 15px;
        margin: auto;
        padding: 3px;
        vertical-align: middle;
      }

      .piece-duration {
        padding-top: 5px;
        text-align: right;
        width: 50px;
        color:#bbb;
      }

      .piece-play {
        height: auto;
        opacity: 0;
        padding-left: 5px;
        position: relative;
        transition: opacity 0.25s;
        width: 25px;

        button {
          background-color: transparent;
        }
      }

      .piece-track-number {
        bottom: 0;
        height: 15px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        transition: opacity 0.3s;
        width: 12px;
        top: 0;
      }

      .piece-purchase {
        height: auto;
        text-align: right;
        transition: width 0.5s, transform 0.5s;
        width: 75px;


        .add-piece-to-cart-btn-sm { display: none }

        @media screen and (min-width: 600px) {
          // styling for moving the purchase button into view
          // transform: translateX(20px);
          // width: 0;
        }
      }
      .piece-title {
        flex-grow: 1;
        font-size: 1em;
        padding-top: 5px;
        width: 10%;
  	    // line-height:1em;
      }

      .piece-ctas-container {
        min-width: 190px;
        text-align: right;
        a:nth-child(1) {
          margin-right: 10px;
        }
      }
    }

    .piece:hover,
    .piece-active {
    	background-color:#eee;

      .add-piece-to-player-btn {
        opacity: 1;
      }

      .piece-play {
        opacity: 1;
      }

      .piece-track-number {
        opacity: 0;
      }

      .piece-purchase {

        @media screen and (min-width: 600px) {
          transform: translateX(0px);
          width: 75px;
        }
      }
    }

    .piece-active {
      .piece-title {
        font-weight: bold;
      }
    }

    .toggle-piece-description-btn[aria-hidden="true"] { display: none }
    .piece-description[aria-hidden="true"] { display: none; }
  }

  .work-tracklist-background {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.0;
    position: absolute;
    filter: blur(100px);
    z-index: -1;
  }
}


// sm class added dynamically in main.js
.work-tracklist.sm {
  .piece-title {
    // margin-left: 10px;
    order: 1;
    width: 30%;
  }
  .piece-duration {
    margin-right: 10px;
    order: 2;
  }
  .piece-play {
    order: 0;
    // width: 30%; // not very precise, tweaking to force line break
    width: auto;
  }
  .piece-purchase {
    order: 3;
    width: auto;
    .add-piece-to-cart-btn { display: none }
    .add-piece-to-cart-btn-sm { display: block }
  }
}
