<nav class="navbar">
  <!-- <div class="navbar-links"> -->
    <%= link_to "ARC", root_path, class: "navbar-link" %>
    <%= link_to "Artists", artists_path, class: "navbar-link" %>
    <%= link_to "Projects", projects_path, class: "navbar-link" %>
    <%= link_to "About", root_path, class: "navbar-link" %>
  <!-- </div> -->
</nav>
